<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>ProperProperties</title>
    <!-- https://electronjs.org/docs/tutorial/security#csp-meta-tag -->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <link rel="stylesheet" type="text/css" href="../../../node_modules/materialize-css/dist/css/materialize.min.css" />
    <link rel="stylesheet" type="text/css" href="../../css/style.css" />
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo center">Managed Properties</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li class="active" onclick="changeWindow('propertyList')"><a href="#">propertyList</a></li>
          <li onclick="changeWindow('unitList')"><a href="#">unitList</a></li>
          <li onclick="changeWindow('unit')"><a href="#">Unit</a></li>
        </ul>
      </div>
    </nav>

    <div id="cardContainer" class="row"></div>
    <script type="text/javascript" src="../../../node_modules/materialize-css/dist/js/materialize.min.js"></script>
    <script src="propertyList.js"></script>
  </body>
</html>
