<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>ProperProperties</title>
    <!-- https://electronjs.org/docs/tutorial/security#csp-meta-tag -->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <link rel="stylesheet" type="text/css" href="../../../node_modules/materialize-css/dist/css/materialize.min.css" />
    <link rel="stylesheet" type="text/css" href="../../css/style.css" />
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo center">Managed Units</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li onclick="changeWindow('propertyList')"><a href="#">propertyList</a></li>
          <li class="active" onclick="changeWindow('unitList')"><a href="#">unitList</a></li>
          <li onclick="changeWindow('unit')"><a href="#">Unit</a></li>
        </ul>
      </div>
    </nav>
    <div class="testing">
      <table class="striped highlight">
        <thead>
          <tr>
            <th>Unit Nr</th>
            <th>Cold Rent</th>
            <th>Adv. Payment</th>
            <th>Rooms</th>
            <th>Square Meter</th>
            <th>Tenants</th>
          </tr>
        </thead>

        <tbody id="unitList"></tbody>
      </table>
    </div>
    <script type="text/javascript" src="../../../node_modules/materialize-css/dist/js/materialize.min.js"></script>
    <script src="unitList.js"></script>
  </body>
</html>
